:host {
  .ai-chat-welcome_container {
    height: 100%;
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    color: var(--container-color);

    .ai-chat-welcome_title {
      font-size: calc(var(--font-size-base) + 1rem);
      color: var(--primary);

      @media screen and (max-width: 1000px) {
        font-size: calc(var(--font-size-base) + 0.8rem);
      }
    }

    .ai-chat-welcome_subtitle {
      font-size: calc(var(--font-size-base) + 0.2rem);
    }

    .ai-chat-welcome_text {
      font-size: var(--font-size-base);
    }
  }
}
