<div class="ai-chat-welcome_container">
  <h1 class="ai-chat-welcome_title">
    {{ welcomeView ? welcomeView.title : "Bienvenido" }}
  </h1>

  <h2 class="ai-chat-welcome_subtitle">
    {{
      welcomeView
        ? welcomeView.subtitle
        : "Chat de Inteligencia Artificial"
    }}
  </h2>
  <p class="ai-chat-welcome_text">
    {{
      welcomeView
        ? welcomeView.description
        : "Lorem ipsum dolor sit amet consectetur adipisicing elit. "
    }}
  </p>

<div *ngIf="welcomeView">
  <h2 *ngIf="welcomeView.subtitle2" class="ai-chat-welcome_subtitle">
    {{ welcomeView.subtitle2 }}
  </h2>
  <p *ngIf="welcomeView.description2" class="ai-chat-welcome_text">
    {{ welcomeView.description2 }}
  </p>
</div>
</div>
