<div class="ai-chat-welcome_container">
  <h1 class="ai-chat-welcome_title">
    {{ conf ? conf.title : " ¡Bienvenido/a a Tu Asistente de IA!" }}
  </h1>

  <h2 class="ai-chat-welcome_subtitle">
    {{ conf ? conf.subtitle : "Saludos Cordiales" }}
  </h2>
  <p class="ai-chat-welcome_text">
    {{
      conf
        ? conf.description
        : "¡Hola! Soy tu asistente de IA, listo para ayudarte en lo que necesites.¿En qué puedo colaborar contigo hoy?"
    }}
  </p>

  <h2 class="ai-chat-welcome_subtitle">
    {{ conf ? conf.subtitle2 : "Descubre tu Asistente Personal" }}
  </h2>
  <p class="ai-chat-welcome_text">
    {{
      conf
        ? conf.description2
        : "Bienvenido/a a tu asistente personal. Soy un asistente con inteligencia artificial diseñado para hacer tu vida más fácil. ¿Cómo puedo ser de servicio hoy?"
    }}
  </p>
</div>
