:host {
  .ai-pdf-file-handler_main-container {
    display: flex;

    .ai-pdf-file-handler_content {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 93svh;
      padding: 10px;
      position: relative;
      transition: all ease-in-out 400ms;

      &.collapse {
        width: 100%;
      }

      &.expand {
        width: 100%;
      }

      @media screen and (max-width: 1000px) {
        width: 100%;

        &.collapse {
          width: 100%;
        }

        &.expand {
          width: 100%;
        }
      }

      .ai-pdf-file-handler_sidebar-btn {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: min-content;
        margin: auto;
        background-color: transparent;

        .ai-arrow-icon {
          fill: var(--ai-borders);

          &:hover {
            fill: var(--ai-black);
          }
        }

        @media screen and (max-width: 1000px) {
          position: fixed;
          z-index: 101;
          padding: 10px;
          border-radius: 100%;
          background-color: var(--ai-black);
          left: auto;
          right: 0;
          top: auto;
          bottom: 10vh;
          margin: 10px;

          .ai-arrow-icon {
            fill: var(--ai-white);

            &:hover {
              fill: var(--ai-borders);
            }
          }
        }
      }

      .ai-pdf-file-handler_dropzone {
        box-sizing: border-box;
        width: 450px;
        max-width: 450px;
        height: 200px;
        padding: 20px;
        text-align: center;
        border: 1px dashed var(--ai-black);
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        @media screen and (max-width: 1000px) {
          width: 100%;
        }

        .ai-pdf-file-handler_file-input {
          box-sizing: border-box;
          opacity: 0;
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        .ai-pdf-file-handler_text-group {
          box-sizing: border-box;

          .ai-pdf-file-handler_subtitle {
            font-size: var(--fs);
            color: var(--ai-black);
          }
        }

        .ai-pdf-file-handler_input-label {
          color: var(--ai-white);
          width: max-content;
          background-color: var(--ai-black);
          padding: 8px 16px;
          box-sizing: border-box;
        }
      }

      .ai-pdf-file-handler_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 450px;
        box-sizing: border-box;

        .ai-pdf-file-handler_userid {
          box-sizing: border-box;

          display: block;
          overflow: hidden;
          position: relative;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 400px;
          font-size: var(--fs);

          @media screen and (max-width: 1000px) {
            max-width: 200px;
          }
        }

        .ai-pdf-file-handler_file-view {
          margin-top: 1.5rem;
          box-sizing: border-box;
          width: 100%;

          .ai-pdf-file-handler_file {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            padding: 0.5rem;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            border: 1px dashed var(--ai-black);
            margin-bottom: 1rem;
            display: flex;
            flex-grow: 1;

            @media screen and (max-width: 1000px) {
              width: 100%;
            }

            .ai-pdf-file-handler_info-group {
              width: 100%;
              box-sizing: border-box;

              .ai-pdf-file-handler_file-name {
                font-size: var(--fs);
                color: var(--ai-black);
                box-sizing: border-box;
              }

              .ai-pdf-file-handler_file-size {
                color: var(--ai-black);
                margin: 0;
                font-size: var(--fs);
                margin-bottom: 0.25rem;
                box-sizing: border-box;
              }
            }
          }
        }

        .ai-pdf-file-handler_upload-btn {
          align-self: flex-end;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background: var(--ai-primary);
          color: var(--ai-white);
          border: none;
          cursor: pointer;
          padding: 10px;
          transition: opacity 200ms ease-in-out;
          font-weight: 500;
          font-family: var(--ai-font);
          font-size: var(--fs);
          box-sizing: border-box;

          &:hover {
            opacity: 0.8;
          }

          &.disabled {
            opacity: 0.5;
            cursor: auto;
          }
        }

        .ai-pdf-file-handler_meta-data-form-group {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5px;
          box-sizing: border-box;
          width: 100%;

          @media screen and (max-width: 1000px) {
            flex-direction: column;
            justify-content: center;
          }

          .ai-pdf-file-handler_form-property {
            width: 50%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            @media screen and (max-width: 1000px) {
              width: 100%;
            }

            .ai-pdf-file-handler_label {
              font-size: var(--fs);
              box-sizing: border-box;
            }

            .ai-pdf-file-handler_selector {
              padding: 4px 8px;
              outline: none;
              border-radius: 0;
              font-family: var(--ai-font);
              font-size: var(--fs);
              color: var(--ai-black);
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

.ai-pdf-file-handler_form-property-name{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 10px;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  .ai-pdf-file-handler_label {
    font-size: var(--fs);
    box-sizing: border-box;
  }

  .ai-pdf-file-handler_input {
    padding: 4px 8px;
    outline: none;
    border-radius: 0;
    font-family: var(--ai-font);
    font-size: var(--fs);
    color: var(--ai-black);
    box-sizing: border-box;
    border: 1px solid var(--ai-black);
    background-color: var(--ai-white);
  }

}

.alert {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--main-white);
  z-index: 0;
  font-size: var(--fs);
  font-weight: 500;
  color: var(--ai-white);
  box-sizing: border-box;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.red {
  background: #dc3545;
}

.green {
  background: #198754;
}

.close-button {
  background-color: transparent;
  border: none;

  .icon {
    color: var(--ai-white);
  }
}

.fileover {
  box-sizing: border-box;
  animation: shake 1s;
  animation-iteration-count: infinite;
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
