
:host {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .ai-layout_main-container {
      // Contenedor principal
  --container-bg: #fff; // color de fondo
  --container-color: #000; // color del texto

  // header (Barra de navegación)
  --header-bg: #fff; // color de fondo
  --header-color: #000; // color del texto
  --header-active-color: #5c4985; // color del menu activo

  // Bordes o separadores (General)
  --border-color: #b1b1b1; // color de los bordes
  --border-width: 1px;
  --border-style: solid;

  // Color principal (General)
  --primary: #5c4985;

  // Botones Destacados
  --primary-btn-bg: #5c4985; // color de fondo
  --primary-btn-color: #fff; // color del texto

  // Botones Secundarios
  --secondary-btn-bg: #000; // color de fondo
  --secondary-btn-color: #fff; // color del texto

  // Boton de confirmación (ventana de confirmacion para eliminar conversaciones del chat)
  --warning-btn-bg: #f87171; // color de fondo
  --warning-btn-color: #fff; // color del texto

  // Estado de los elementos activos y seleccionables (Hover, Active)
  // Ejemplo: conversaciones en el panel izquierdo del chat y demas modulos
  --state-bg: #f2f2f2; // color de fondo
  --state-color: #000; // color del texto

  // Sombras del chat
  --box-shadow: rgba(0, 0, 0, 0.4);

  // radio de los bordes (border-radius) (General)
  --radius: 5px;

  // Mensajes escritos por el usuario (para destacarlos)
  --user-message-bg: #f2f2f2; // color de fondo
  --user-message-color: #000; // color del texto

  // Panel Izquierdo y  Menu de la version mobile
  --menu-bg: #fff; // color de fondo
  --menu-color: #000; // color del texto

  // Entradas de texto de los formularios (Inputs)
  --input-bg: #f2f2f2; // color de fondo
  --input-color: #000; // color del texto

  // Color del texto en las alertas
  --white: #fff;

  // Fuentes
  --font-family: "Roboto", sans-serif; // Tipo de fuente
  --font-size-base: 12px; // Tamaño de la fuente
  --font-normal: 500; // Peso normal de la fuente
  --font-bold: 900; // Peso Fuerte de la fuente

  
    background: var(--container-bg);
    height: 100vh;
    overflow: hidden;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    box-sizing: border-box;
    border: var(--border-width) var(--border-style) var(--border-color);
    font-weight: var(--font-normal);

    // Icons
    .ai-x-icon {
      fill: var(--container-color);
    }

    .ai-cloud-icon {
      fill: var(--container-color);
      width: 80px;
      height: 80px;
    }

    .ai-file-icon {
      fill: var(--container-color);
    }

    .ai-layout_header {
      height: 7vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      border-bottom: var(--border-width) var(--border-style) var(--border-color);
      box-sizing: border-box;
      color: var(--header-color);
      background: var(--header-bg);

      @media screen and (max-width: 1000px) {
        padding: 0 10px;
      }

      .ai-layout_header-title {
        font-weight: 500;
        font-size: calc(var(--font-size-base) + 2px);
        display: flex;
        flex-direction: column;

        .ai-layout_desktop-title {
          display: block;

          @media screen and (max-width: 1000px) {
            font-size: calc(var(--font-size-base) - 2px);
            font-weight: normal;
          }
        }

        .ai-layout_mobile-title {
          display: none;

          @media screen and (max-width: 1000px) {
            display: block;
            font-size: var(--font-size-base);
            font-weight: bolder;
          }
        }
      }

      .ai-layout_header-mobile-menu-close-btn {
        background-color: var(--secondary-btn-bg);
        padding: 10px;
        border-radius: 100%;
        border: none;
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 5px;
        right: 11px;

        svg {
          fill: var(--secondary-btn-color);
        }

        @media screen and (max-width: 1000px) {
          display: block;
        }
      }

      .ai-layout_header-mobile-menu-open-btn {
        background-color: var(--secondary-btn-bg);
        padding: 10px;
        border-radius: 100%;
        border: none;
        display: none;
        justify-content: center;
        align-items: center;

        svg {
          fill: var(--secondary-btn-color);
        }

        @media screen and (max-width: 1000px) {
          display: block;
        }
      }

      .ai-layout_header-menu {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1000px) {
          display: flex;
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          right: -1000px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4px;
          background-color: var(--menu-bg);
          z-index: 1000;
          transition: all ease-in 400ms;

          &.show-mobile {
            right: 0;
          }

          &.hide-mobile {
            right: -1000px;
          }
        }

        .ai-layout_header-menu-btn {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          color: var(--header-color);
          border: transparent;
          border-bottom: 3px solid transparent;
          cursor: pointer;
          padding: 14px 10px;
          transition: background 200ms ease-in-out;
          font-weight: 500;
          font-size: var(--font-size-base);
          font-family: var(--font-family);

          &:hover {
            border-bottom-color: var(--border-color);
          }

          &.active {
            border-bottom-color: var(--header-active-color);
            color: var(--header-active-color);
          }
        }
      }
    }

    .ai-layout_content {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
