:host {
  .ai-loader_container {
    display: inline-flex;
    align-items: center;

    .ai-loader_loading-text {
      margin-right: 5px;
      color: var(--container-color);
    }
  }

  .ai-spinner-icon {
    fill: var(--container-color);
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .black {
    fill: var(--container-color);
  }

  .white {
    fill: var(--container-color);
  }

  .red {
    fill: var(--primary);
  }
}
