// reset styles

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --ai-font: "Roboto", sans-serif;
  --ai-black: #000000;
}

// Icons
.ai-x-icon {
  fill: var(--ai-black);
}

.ai-cloud-icon {
  fill: var(--ai-black);
  width: 80px;
  height: 80px;
}

.ai-file-icon {
  fill: var(--ai-black);
}
