:host {
  .ai-chat-file-loader {
    width: 450px;
    height: 200px;
    padding: 2rem;
    text-align: center;
    border: 1px dashed var(--ai-black);
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    .ai-chat-file-loader_file-input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .ai-chat-file-loader_help-text {
      font-size: var(--fs);
      color: var(--ai-black);
    }

    .ai-chat-file-loader_label {
      color: var(--ai-white);
      width: max-content;
      background-color: var(--ai-black);
      padding: 8px 16px;
    }
  }

  .ai-chat-file-loader_files-list {
    margin-top: 1.5rem;

    .ai-chat-file-loader_single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
      border: 1px dashed var(--ai-black);
      margin-bottom: 1rem;

      display: flex;
      flex-grow: 1;

      .ai-chat-file-loader_info {
        width: 100%;

        .ai-chat-file-loader_name {
          font-size: var(--fs);
          color: var(--ai-black);
        }

        .ai-chat-file-loader_size {
          font-size: var(--fs);
          color: var(--ai-black);
          margin: 0;
          margin-bottom: 0.25rem;
        }
      }

      .ai-chat-file-loader_remove-single-file-btn {
        padding: 5px;
        border: none;
        background-color: transparent;
        color: var(--ai-black);
        cursor: pointer;

        svg {
          fill: var(--ai-black);
          height: 15px;
          width: 15px;
        }

        &:hover {
          background-color: var(--ai-gray-opacity-2);
        }
      }
    }
  }

  .ai-chat-file-loader_buttons-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ai-chat-file-loader_cancel-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: var(--ai-black);
      color: var(--ai-white);
      border: none;
      cursor: pointer;
      padding: 10px;
      transition: opacity 200ms ease-in-out;
      font-weight: 500;
      font-family: var(--ai-font);
      font-size: var(--fs);

      &:hover {
        opacity: 0.9;
      }

      &.active {
        opacity: 0.5;
        cursor: auto;
      }
    }

    .ai-chat-file-loader_load-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: var(--ai-primary);
      color: var(--ai-white);
      border: none;
      cursor: pointer;
      padding: 10px;
      transition: opacity 200ms ease-in-out;
      font-weight: 500;
      font-family: var(--ai-font);
      font-size: var(--fs);

      &:hover {
        opacity: .9;
      }

      &.active {
        opacity: 0.5;
        cursor: auto;
      }
    }
  }

  /* Shake animation */
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  .alert {
    box-sizing: border-box;

    width: 450px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: var(--main-white);
    z-index: 100000;
    font-size: var(--fs);
    font-weight: 500;
    color: var(--ai-white);

    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }

  .red {
    background: #dc3545;
  }

  .green {
    background: #198754;
  }

  .close-button {
    background-color: transparent;
    border: none;

    .icon {
      color: var(--ai-white);
    }
  }
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
